In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv")
df2 = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv")
df3 = pd.merge(df, df2)
df3

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [3]:
Huang_High_School = df3[df3["School ID"] == 0]
Figueroa_High_School = df3[df3["School ID"] == 1]
Shelton_High_School = df3[df3["School ID"] == 2]
Hernandez_High_School = df3[df3["School ID"] == 3]
Griffin_High_School = df3[df3["School ID"] == 4]
Wilson_High_School = df3[df3["School ID"] == 5]
Cabrera_High_School = df3[df3["School ID"] == 6]
Bailey_High_School = df3[df3["School ID"] == 7]
Holden_High_School = df3[df3["School ID"] == 8]
Pena_High_School = df3[df3["School ID"] == 9]
Wright_High_School = df3[df3["School ID"] == 10]
Rodriguez_High_School = df3[df3["School ID"] == 11]
Johnson_High_School = df3[df3["School ID"] == 12]
Ford_High_School = df3[df3["School ID"] == 13]
Thomas_High_School = df3[df3["School ID"] == 14]

High_schools = [x for x in df["school_name"]]
for x in range(len(High_schools)):
    High_schools[x] = High_schools[x].replace(" ", "_")
High_schools

['Huang_High_School',
 'Figueroa_High_School',
 'Shelton_High_School',
 'Hernandez_High_School',
 'Griffin_High_School',
 'Wilson_High_School',
 'Cabrera_High_School',
 'Bailey_High_School',
 'Holden_High_School',
 'Pena_High_School',
 'Wright_High_School',
 'Rodriguez_High_School',
 'Johnson_High_School',
 'Ford_High_School',
 'Thomas_High_School']

In [4]:
groupby_df = df3.groupby(["school_name"])

groupby_df["math_score"].head()

0        79
1        61
2        60
3        58
4        84
         ..
37535    76
37536    82
37537    90
37538    69
37539    76
Name: math_score, Length: 75, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
School ID      15 non-null int64
school_name    15 non-null object
type           15 non-null object
size           15 non-null int64
budget         15 non-null int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes

In [6]:

#round(df3["math_score"].sum()/39169,2)

In [7]:
mathabove60 = df3.loc[df3["math_score"]>=60]
readingabove60 = df3.loc[df3["reading_score"]>=60]
mathabove60.math_score.mean()

80.7809505398912

In [74]:
School = df[["school_name","type","size","budget"]]
School["per_student"] = School["budget"]/School["size"]
#School["avg_math"] = groupby_df["math_score"].sum(/ groupby_df["size"]
groupby_df["math_score"].mean() 
School = pd.merge(School, groupby_df["math_score"].mean(), on="school_name")
groupby_df["reading_score"].mean()
School = pd.merge(School,groupby_df["reading_score"].mean(), on="school_name")
#m = mathabove60.groupby(["school_name"])
#m.head()
df3_groupby= df3.groupby(["school_name"]).mean()
#r = readingabove60.groupby(["school_name"])
#School["avg_reading"] = 
#readingabove60.school_name.value_counts() / df3_groupby["size"]

School["avg_math"] = (mathabove60.school_name.value_counts() / df3_groupby["size"].astype("int")).tolist()
School["avg_reading"] = (readingabove60.school_name.value_counts() / df3_groupby["size"].astype("int")).tolist()
#School["overall_passing"] = ((readingabove60.school_name.value_counts() + mathabove60.school_name.value_counts())/2)/ df3_groupby["size"].astype("int")).tolist()
School["overall_passing"] = (School["avg_math"] + School["avg_reading"])/2
#School["overall_passing"] = School["overall_passing"] /2
#School["overall_passing"] =  School["overall_passing"] / School["size"].astype("int")
#mathabove60.school_name.value_counts() / df3_groupby["size"].astype("int")
#mathabove60.school_name.value_counts()
#mathabove60.school_name.value_counts()
#df3_groupby["size"].astype("int")
#m["avg_math"] = m["size"] / m["math_score"]
School
#math_total = pd.DataFrame({"above60": m, "total": m1})
#math_total

,school_name,type,size,budget,per_student,math_score,reading_score,avg_math,avg_reading,overall_passing
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.895297,1.0,0.947649
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,1.000000,1.0,1.000000
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.884368,1.0,0.942184
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.893027,1.0,0.946513
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1.000000,1.0,1.000000
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.890831,1.0,0.945415
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1.000000,1.0,1.000000
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.888584,1.0,0.944292
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.891829,1.0,0.945915
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,1.000000,1.0,1.000000
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.885471,1.0,0.942736
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,1.000000,1.0,1.000000
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,1.000000,1.0,1.000000
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,1.000000,1.0,1.000000
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,1.000000,1.0,1.000000

school_id

In [9]:
District = pd.DataFrame({"District":
    ["Total Schools",
    "Total Students",
    "Total Budget",
    "Average Math Score",
    "Average Reading Score",
    "Passing Math",
    "Passing Reading",
    "Overall Passing Rate"],"Value": [df["school_name"].count(),df["size"].sum(),df["budget"].sum(),
                                      Avg_math, Avg_reading,(df3["math_score"]>=60).count(),
                                    (df3["reading_score"]>= 60).count(), ((df2["reading_score"]>= 60).count() + (df2["math_score"]>=60).count())/2]})
District

NameError: name 'Avg_math' is not defined

In [ ]:
Huang_High_School.to_excel(excel_writer = "readingData.xls")

In [ ]:
df3.reading_score[2].mean()

In [ ]:
scoresabove60["math_score"][1]

In [ ]:
Math_scores = pd.DataFrame({"9th Grade": [Huang_High_School["math_score"].loc[Huang_High_School["grade"]=="9th"].mean(),
                Figueroa_High_School["math_score"].loc[Figueroa_High_School["grade"]=="9th"].mean(),
                Shelton_High_School["math_score"].loc[Shelton_High_School["grade"]=="9th"].mean(),
                Hernandez_High_School["math_score"].loc[Hernandez_High_School["grade"]=="9th"].mean(),
                Griffin_High_School["math_score"].loc[Griffin_High_School["grade"]=="9th"].mean(),
                Wilson_High_School["math_score"].loc[Wilson_High_School["grade"]=="9th"].mean(),
                Cabrera_High_School["math_score"].loc[Cabrera_High_School["grade"]=="9th"].mean(),
                Bailey_High_School["math_score"].loc[Bailey_High_School["grade"]=="9th"].mean(),
                Holden_High_School["math_score"].loc[Holden_High_School["grade"]=="9th"].mean(),
                Pena_High_School["math_score"].loc[Pena_High_School["grade"]=="9th"].mean(),
                Wright_High_School["math_score"].loc[Wright_High_School["grade"]=="9th"].mean(),
                Rodriguez_High_School["math_score"].loc[Rodriguez_High_School["grade"]=="9th"].mean(),
                Johnson_High_School["math_score"].loc[Johnson_High_School["grade"]=="9th"].mean(),
                Ford_High_School["math_score"].loc[Ford_High_School["grade"]=="9th"].mean()],
               "10th Grade": [Huang_High_School["math_score"].loc[Huang_High_School["grade"]=="10th"].mean(),
                Figueroa_High_School["math_score"].loc[Figueroa_High_School["grade"]=="10th"].mean(),
                Shelton_High_School["math_score"].loc[Shelton_High_School["grade"]=="10th"].mean(),
                Hernandez_High_School["math_score"].loc[Hernandez_High_School["grade"]=="10th"].mean(),
                Griffin_High_School["math_score"].loc[Griffin_High_School["grade"]=="10th"].mean(),
                Wilson_High_School["math_score"].loc[Wilson_High_School["grade"]=="10th"].mean(),
                Cabrera_High_School["math_score"].loc[Cabrera_High_School["grade"]=="10th"].mean(),
                Bailey_High_School["math_score"].loc[Bailey_High_School["grade"]=="10th"].mean(),
                Holden_High_School["math_score"].loc[Holden_High_School["grade"]=="10th"].mean(),
                Pena_High_School["math_score"].loc[Pena_High_School["grade"]=="10th"].mean(),
                Wright_High_School["math_score"].loc[Wright_High_School["grade"]=="10th"].mean(),
                Rodriguez_High_School["math_score"].loc[Rodriguez_High_School["grade"]=="10th"].mean(),
                Johnson_High_School["math_score"].loc[Johnson_High_School["grade"]=="10th"].mean(),
                Ford_High_School["math_score"].loc[Ford_High_School["grade"]=="10th"].mean()],
               "11th Grade":[Huang_High_School["math_score"].loc[Huang_High_School["grade"]=="11th"].mean(),
                Figueroa_High_School["math_score"].loc[Figueroa_High_School["grade"]=="11th"].mean(),
                Shelton_High_School["math_score"].loc[Shelton_High_School["grade"]=="11th"].mean(),
                Hernandez_High_School["math_score"].loc[Hernandez_High_School["grade"]=="11th"].mean(),
                Griffin_High_School["math_score"].loc[Griffin_High_School["grade"]=="11th"].mean(),
                Wilson_High_School["math_score"].loc[Wilson_High_School["grade"]=="11th"].mean(),
                Cabrera_High_School["math_score"].loc[Cabrera_High_School["grade"]=="11th"].mean(),
                Bailey_High_School["math_score"].loc[Bailey_High_School["grade"]=="11th"].mean(),
                Holden_High_School["math_score"].loc[Holden_High_School["grade"]=="11th"].mean(),
                Pena_High_School["math_score"].loc[Pena_High_School["grade"]=="11th"].mean(),
                Wright_High_School["math_score"].loc[Wright_High_School["grade"]=="11th"].mean(),
                Rodriguez_High_School["math_score"].loc[Rodriguez_High_School["grade"]=="11th"].mean(),
                Johnson_High_School["math_score"].loc[Johnson_High_School["grade"]=="11th"].mean(),
                Ford_High_School["math_score"].loc[Ford_High_School["grade"]=="11th"].mean()],
               "12th Grade":[Huang_High_School["math_score"].loc[Huang_High_School["grade"]=="12th"].mean(),
                Figueroa_High_School["math_score"].loc[Figueroa_High_School["grade"]=="12th"].mean(),
                Shelton_High_School["math_score"].loc[Shelton_High_School["grade"]=="12th"].mean(),
                Hernandez_High_School["math_score"].loc[Hernandez_High_School["grade"]=="12th"].mean(),
                Griffin_High_School["math_score"].loc[Griffin_High_School["grade"]=="12th"].mean(),
                Wilson_High_School["math_score"].loc[Wilson_High_School["grade"]=="12th"].mean(),
                Cabrera_High_School["math_score"].loc[Cabrera_High_School["grade"]=="12th"].mean(),
                Bailey_High_School["math_score"].loc[Bailey_High_School["grade"]=="12th"].mean(),
                Holden_High_School["math_score"].loc[Holden_High_School["grade"]=="12th"].mean(),
                Pena_High_School["math_score"].loc[Pena_High_School["grade"]=="12th"].mean(),
                Wright_High_School["math_score"].loc[Wright_High_School["grade"]=="12th"].mean(),
                Rodriguez_High_School["math_score"].loc[Rodriguez_High_School["grade"]=="12th"].mean(),
                Johnson_High_School["math_score"].loc[Johnson_High_School["grade"]=="12th"].mean(),
                Ford_High_School["math_score"].loc[Ford_High_School["grade"]=="12th"].mean()]
    
})
Math_scores

In [ ]:
Reading_scores = pd.DataFrame({"9th Grade": [Huang_High_School["reading_score"].loc[Huang_High_School["grade"]=="9th"].mean(),
                Figueroa_High_School["reading_score"].loc[Figueroa_High_School["grade"]=="9th"].mean(),
                Shelton_High_School["reading_score"].loc[Shelton_High_School["grade"]=="9th"].mean(),
                Hernandez_High_School["reading_score"].loc[Hernandez_High_School["grade"]=="9th"].mean(),
                Griffin_High_School["reading_score"].loc[Griffin_High_School["grade"]=="9th"].mean(),
                Wilson_High_School["reading_score"].loc[Wilson_High_School["grade"]=="9th"].mean(),
                Cabrera_High_School["reading_score"].loc[Cabrera_High_School["grade"]=="9th"].mean(),
                Bailey_High_School["reading_score"].loc[Bailey_High_School["grade"]=="9th"].mean(),
                Holden_High_School["reading_score"].loc[Holden_High_School["grade"]=="9th"].mean(),
                Pena_High_School["reading_score"].loc[Pena_High_School["grade"]=="9th"].mean(),
                Wright_High_School["reading_score"].loc[Wright_High_School["grade"]=="9th"].mean(),
                Rodriguez_High_School["reading_score"].loc[Rodriguez_High_School["grade"]=="9th"].mean(),
                Johnson_High_School["reading_score"].loc[Johnson_High_School["grade"]=="9th"].mean(),
                Ford_High_School["reading_score"].loc[Ford_High_School["grade"]=="9th"].mean()],
               "10th Grade": [Huang_High_School["reading_score"].loc[Huang_High_School["grade"]=="10th"].mean(),
                Figueroa_High_School["reading_score"].loc[Figueroa_High_School["grade"]=="10th"].mean(),
                Shelton_High_School["reading_score"].loc[Shelton_High_School["grade"]=="10th"].mean(),
                Hernandez_High_School["reading_score"].loc[Hernandez_High_School["grade"]=="10th"].mean(),
                Griffin_High_School["reading_score"].loc[Griffin_High_School["grade"]=="10th"].mean(),
                Wilson_High_School["reading_score"].loc[Wilson_High_School["grade"]=="10th"].mean(),
                Cabrera_High_School["reading_score"].loc[Cabrera_High_School["grade"]=="10th"].mean(),
                Bailey_High_School["reading_score"].loc[Bailey_High_School["grade"]=="10th"].mean(),
                Holden_High_School["reading_score"].loc[Holden_High_School["grade"]=="10th"].mean(),
                Pena_High_School["reading_score"].loc[Pena_High_School["grade"]=="10th"].mean(),
                Wright_High_School["reading_score"].loc[Wright_High_School["grade"]=="10th"].mean(),
                Rodriguez_High_School["reading_score"].loc[Rodriguez_High_School["grade"]=="10th"].mean(),
                Johnson_High_School["reading_score"].loc[Johnson_High_School["grade"]=="10th"].mean(),
                Ford_High_School["reading_score"].loc[Ford_High_School["grade"]=="10th"].mean()],
               "11th Grade":[Huang_High_School["reading_score"].loc[Huang_High_School["grade"]=="11th"].mean(),
                Figueroa_High_School["reading_score"].loc[Figueroa_High_School["grade"]=="11th"].mean(),
                Shelton_High_School["reading_score"].loc[Shelton_High_School["grade"]=="11th"].mean(),
                Hernandez_High_School["reading_score"].loc[Hernandez_High_School["grade"]=="11th"].mean(),
                Griffin_High_School["reading_score"].loc[Griffin_High_School["grade"]=="11th"].mean(),
                Wilson_High_School["reading_score"].loc[Wilson_High_School["grade"]=="11th"].mean(),
                Cabrera_High_School["reading_score"].loc[Cabrera_High_School["grade"]=="11th"].mean(),
                Bailey_High_School["reading_score"].loc[Bailey_High_School["grade"]=="11th"].mean(),
                Holden_High_School["reading_score"].loc[Holden_High_School["grade"]=="11th"].mean(),
                Pena_High_School["reading_score"].loc[Pena_High_School["grade"]=="11th"].mean(),
                Wright_High_School["reading_score"].loc[Wright_High_School["grade"]=="11th"].mean(),
                Rodriguez_High_School["reading_score"].loc[Rodriguez_High_School["grade"]=="11th"].mean(),
                Johnson_High_School["reading_score"].loc[Johnson_High_School["grade"]=="11th"].mean(),
                Ford_High_School["reading_score"].loc[Ford_High_School["grade"]=="11th"].mean()],
               "12th Grade":[Huang_High_School["reading_score"].loc[Huang_High_School["grade"]=="12th"].mean(),
                Figueroa_High_School["reading_score"].loc[Figueroa_High_School["grade"]=="12th"].mean(),
                Shelton_High_School["reading_score"].loc[Shelton_High_School["grade"]=="12th"].mean(),
                Hernandez_High_School["reading_score"].loc[Hernandez_High_School["grade"]=="12th"].mean(),
                Griffin_High_School["reading_score"].loc[Griffin_High_School["grade"]=="12th"].mean(),
                Wilson_High_School["reading_score"].loc[Wilson_High_School["grade"]=="12th"].mean(),
                Cabrera_High_School["reading_score"].loc[Cabrera_High_School["grade"]=="12th"].mean(),
                Bailey_High_School["reading_score"].loc[Bailey_High_School["grade"]=="12th"].mean(),
                Holden_High_School["reading_score"].loc[Holden_High_School["grade"]=="12th"].mean(),
                Pena_High_School["reading_score"].loc[Pena_High_School["grade"]=="12th"].mean(),
                Wright_High_School["reading_score"].loc[Wright_High_School["grade"]=="12th"].mean(),
                Rodriguez_High_School["reading_score"].loc[Rodriguez_High_School["grade"]=="12th"].mean(),
                Johnson_High_School["reading_score"].loc[Johnson_High_School["grade"]=="12th"].mean(),
                Ford_High_School["reading_score"].loc[Ford_High_School["grade"]=="12th"].mean()]
    
})
Reading_scores

In [ ]:
Reading_scores['School ID'] = Reading_scores.index
Math_scores['School ID'] = Math_scores.index
df3["budget"].max()

In [ ]:
df3["budget"].min()

In [ ]:
bins = [0,750000,1500000,2250000,3250000]

In [ ]:
bin_values = ["0 to 750,000","750,000 to 1,500,000","1,500,000 to 2,250,000","2,250,000 to 3,250,000"]

In [ ]:
df_cut=pd.cut(df["budget"], bins, labels=bin_values)
df_cut
df_new = df

In [ ]:
df_new["spending range"] = df_cut
df_new

In [ ]:
df_new = pd.merge(df_new, Reading_scores, on="School ID")

In [ ]:
df_new = df_new.rename(columns={"9th Grade":"9th Grade Reading","10th Grade":"10th Grade Reading","11th Grade":"11th Grade Reading","12th Grade":"12th Grade Reading"})

In [ ]:
df_new

In [ ]:
df_new = pd.merge(df_new, Math_scores, on="School ID")

In [ ]:
df_new = df_new.rename(columns={"9th Grade":"9th Grade Math","10th Grade":"10th Grade Math","11th Grade":"11th Grade Math","12th Grade":"12th Grade Math"})

In [ ]:
df_new

In [ ]:
df_new

In [ ]:
Passing_rate = df[["school_name"]]

In [ ]:
Passing_rate["Over_all_passing"] = (df['9th Grade Math'].count()/ df["size"][x] + df['9th Grade Reading'].count()/ df["size"][x])/2