In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv")
df2 = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv")
df3 = pd.merge(df, df2)
df3

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [3]:
reading = df2.groupby(by='school_name')

reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76
37536,37536,Cody Miller,M,11th,Thomas High School,84,82
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
School ID      15 non-null int64
school_name    15 non-null object
type           15 non-null object
size           15 non-null int64
budget         15 non-null int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes

In [5]:
df["school_name"].count()

15

In [6]:
School = pd.DataFrame({"School":
    ["School Name",
    "School Type",
    "Total Students",
    "Total School Budget",
    "Per Student Budget",
    "Average Math Score",
    "Average Reading Score",
    "Passing Math",
    "Passing Reading",
    "Overall Passing Rate"],"Value":df["School ID"],df["type"],df["size"],df["budget"]
    ,df2["math_score"].mean(),df2["reading_score"],df2["math_score"]>=60,df2["reading_score"]>=60
    ,df2["math_score"]>=60,})
School

SyntaxError: invalid syntax (<ipython-input-6-378945086ae0>, line 11)

In [7]:
District = pd.DataFrame({"District":
    ["Total Schools",
    "Total Students",
    "Total Budget",
    "Average Math Score",
    "Average Reading Score",
    "Passing Math",
    "Passing Reading",
    "Overall Passing Rate"],"Value": [df["school_name"].count(),df["size"].sum(),df["budget"].sum(),
                                      High_school_math, High_school_reading,(df2["math_score"]>=60).count(),
                                     (df2["reading_score"]>= 60).count(),(df2["reading_score"]>= 60).count() & (df2["math_score"]>=60).count()]})
District

NameError: name 'High_school_math' is not defined

In [8]:
print((df2["math_score"]>=60).count())
District["Value"] = pd.to_numeric(District["Value"])
District

39170

NameError: name 'District' is not defined

In [ ]:
if(df2["school_name"] == [x for x in df2["school_name"].unique()]):
    print (x)

In [ ]:
df2["school_name"].value_counts()

In [ ]:
Huang_High_School["math_score"].mean()

In [ ]:
print('Huang High School'.replace(" ","_"))

In [ ]:
High_schools[1]

In [ ]:
len(High_schools)

In [ ]:
Huang_High_School = df3[df3["School ID"] == 0]
Figueroa_High_School = df3[df3["School ID"] == 1]
Shelton_High_School = df3[df3["School ID"] == 2]
Hernandez_High_School = df3[df3["School ID"] == 3]
Griffin_High_School = df3[df3["School ID"] == 4]
Wilson_High_School = df3[df3["School ID"] == 5]
Cabrera_High_School = df3[df3["School ID"] == 6]
Bailey_High_School = df3[df3["School ID"] == 7]
Holden_High_School = df3[df3["School ID"] == 8]
Pena_High_School = df3[df3["School ID"] == 9]
Wright_High_School = df3[df3["School ID"] == 10]
Rodriguez_High_School = df3[df3["School ID"] == 11]
Johnson_High_School = df3[df3["School ID"] == 12]
Ford_High_School = df3[df3["School ID"] == 13]
Thomas_High_School = df3[df3["School ID"] == 14]

High_schools = [x for x in df["school_name"]]
for x in range(len(High_schools)):
    High_schools[x] = High_schools[x].replace(" ", "_")
High_schools

In [ ]:
 for j in range(len(High_schools)):
    for x in range(len(df3)):
        High_school_math = float(df3.math_score[x].mean())
        High_school_reading = df3.reading_score[x].mean()
        #High_school_math_pass = 
        
    print(High_school_math)

In [ ]:
mathscore>=60]