In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv")
df2 = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv")
df3 = pd.merge(df, df2)
df3

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [3]:
Huang_High_School = df3[df3["School ID"] == 0]
Figueroa_High_School = df3[df3["School ID"] == 1]
Shelton_High_School = df3[df3["School ID"] == 2]
Hernandez_High_School = df3[df3["School ID"] == 3]
Griffin_High_School = df3[df3["School ID"] == 4]
Wilson_High_School = df3[df3["School ID"] == 5]
Cabrera_High_School = df3[df3["School ID"] == 6]
Bailey_High_School = df3[df3["School ID"] == 7]
Holden_High_School = df3[df3["School ID"] == 8]
Pena_High_School = df3[df3["School ID"] == 9]
Wright_High_School = df3[df3["School ID"] == 10]
Rodriguez_High_School = df3[df3["School ID"] == 11]
Johnson_High_School = df3[df3["School ID"] == 12]
Ford_High_School = df3[df3["School ID"] == 13]
Thomas_High_School = df3[df3["School ID"] == 14]

High_schools = [x for x in df["school_name"]]
for x in range(len(High_schools)):
    High_schools[x] = High_schools[x].replace(" ", "_")
High_schools

['Huang_High_School',
 'Figueroa_High_School',
 'Shelton_High_School',
 'Hernandez_High_School',
 'Griffin_High_School',
 'Wilson_High_School',
 'Cabrera_High_School',
 'Bailey_High_School',
 'Holden_High_School',
 'Pena_High_School',
 'Wright_High_School',
 'Rodriguez_High_School',
 'Johnson_High_School',
 'Ford_High_School',
 'Thomas_High_School']

In [4]:
reading = df2.groupby(by='school_name')

reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76
37536,37536,Cody Miller,M,11th,Thomas High School,84,82
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
School ID      15 non-null int64
school_name    15 non-null object
type           15 non-null object
size           15 non-null int64
budget         15 non-null int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes

In [6]:
df["school_name"].count()

15

In [7]:

df3.math_score.mean()

78.98537145774827

In [8]:
Avg_reading = round(df3.reading_score.sum()/39169,2)

In [9]:

df3.reading_score.mean()

81.87784018381414

In [10]:
Avg_math = round(df3.math_score.sum()/39169,2)

In [12]:
for x in range(len(High_schools) -1):
    scoresabove60 = pd.DataFrame({  'Schools': 
                ['Huang_High_School',
                'Figueroa_High_School',
                'Shelton_High_School',
                'Hernandez_High_School',
                'Griffin_High_School',
                'Wilson_High_School',
                'Cabrera_High_School',
                'Bailey_High_School',
                'Holden_High_School',
                'Pena_High_School',
                'Wright_High_School',
                'Rodriguez_High_School',
                'Johnson_High_School',
                'Ford_High_School'],
                'math_score':
                [Huang_High_School.loc[Huang_High_School["math_score"]>=60],
                Figueroa_High_School.loc[Figueroa_High_School["math_score"]>=60],
                Shelton_High_School.loc[Shelton_High_School["math_score"]>=60],
                Hernandez_High_School.loc[Hernandez_High_School["math_score"]>=60],
                Griffin_High_School.loc[Griffin_High_School["math_score"]>=60],
                Wilson_High_School.loc[Wilson_High_School["math_score"]>=60],
                Cabrera_High_School.loc[Cabrera_High_School["math_score"]>=60],
                Bailey_High_School.loc[Bailey_High_School["math_score"]>=60],
                Holden_High_School.loc[Holden_High_School["math_score"]>=60],
                Pena_High_School.loc[Pena_High_School["math_score"]>=60],
                Wright_High_School.loc[Wright_High_School["math_score"]>=60],
                Rodriguez_High_School.loc[Rodriguez_High_School["math_score"]>=60],
                Johnson_High_School.loc[Johnson_High_School["math_score"]>=60],
                Ford_High_School.loc[Ford_High_School["math_score"]>=60]],
               'reading_score':
               [Huang_High_School.loc[Huang_High_School["reading_score"]>=60],
               Figueroa_High_School.loc[Figueroa_High_School["reading_score"]>=60],
               Shelton_High_School.loc[Shelton_High_School["reading_score"]>=60],
               Hernandez_High_School.loc[Hernandez_High_School["reading_score"]>=60],
               Griffin_High_School.loc[Griffin_High_School["reading_score"]>=60],
               Wilson_High_School.loc[Wilson_High_School["reading_score"]>=60],
               Cabrera_High_School.loc[Cabrera_High_School["reading_score"]>=60],
               Bailey_High_School.loc[Bailey_High_School["reading_score"]>=60],
               Holden_High_School.loc[Holden_High_School["reading_score"]>=60],
               Pena_High_School.loc[Pena_High_School["reading_score"]>=60],
               Wright_High_School.loc[Wright_High_School["reading_score"]>=60],
               Rodriguez_High_School.loc[Rodriguez_High_School["reading_score"]>=60],
               Johnson_High_School.loc[Johnson_High_School["reading_score"]>=60],
               Ford_High_School.loc[Ford_High_School["reading_score"]>=60]]})
    
    School = pd.DataFrame({ "school":
        ["School Name",
        "School Type",
        "Total Students",
        "Total School Budget",
        "Per Student Budget",
        "Average Math Score",
        "Average Reading Score",
        "Passing Math",
        "Passing Reading",
        "Overall Passing Rate"],"Value": [df["school_name"][x],df["type"][x],df["size"][x],df["budget"][x],
                                         df["budget"][x] / df["size"][x],df3.math_score[x].mean(),df3.reading_score[x].mean(),
                                          scoresabove60['math_score'][x]['math_score'].count()/df["size"][x],
                                          scoresabove60['reading_score'][x]['reading_score'].count()/ df["size"][x],
                                         (scoresabove60['math_score'][x]['math_score'].count()/ df["size"][x] + scoresabove60['reading_score'][x]['reading_score'].count()/ df["size"][x])/2]})
    print(School)
    print('***********************************************')
    print()

                  school              Value
0            School Name  Huang High School
1            School Type           District
2         Total Students               2917
3    Total School Budget            1910635
4     Per Student Budget                655
5     Average Math Score                 79
6  Average Reading Score                 66
7           Passing Math           0.888584
8        Passing Reading                  1
9   Overall Passing Rate           0.944292
***********************************************

                  school                 Value
0            School Name  Figueroa High School
1            School Type              District
2         Total Students                  2949
3    Total School Budget               1884411
4     Per Student Budget                   639
5     Average Math Score                    61
6  Average Reading Score                    94
7           Passing Math              0.884368
8        Passing Reading                     1
9   Overall Passing Rate              0.942184
***********************************************

                  school                Value
0            School Name  Shelton High School
1            School Type              Charter
2         Total Students                 1761
3    Total School Budget              1056600
4     Per Student Budget                  600
5     Average Math Score                   60
6  Average Reading Score                   90
7           Passing Math                    1
8        Passing Reading                    1
9   Overall Passing Rate                    1
***********************************************

                  school                  Value
0            School Name  Hernandez High School
1            School Type               District
2         Total Students                   4635
3    Total School Budget                3022020
4     Per Student Budget                    652
5     Average Math Score                     58
6  Average Reading Score                     67
7           Passing Math               0.890831
8        Passing Reading                      1
9   Overall Passing Rate               0.945415
***********************************************

                  school                Value
0            School Name  Griffin High School
1            School Type              Charter
2         Total Students                 1468
3    Total School Budget               917500
4     Per Student Budget                  625
5     Average Math Score                   84
6  Average Reading Score                   97
7           Passing Math                    1
8        Passing Reading                    1
9   Overall Passing Rate                    1
***********************************************

                  school               Value
0            School Name  Wilson High School
1            School Type             Charter
2         Total Students                2283
3    Total School Budget             1319574
4     Per Student Budget                 578
5     Average Math Score                  94
6  Average Reading Score                  94
7           Passing Math                   1
8        Passing Reading                   1
9   Overall Passing Rate                   1
***********************************************

                  school                Value
0            School Name  Cabrera High School
1            School Type              Charter
2         Total Students                 1858
3    Total School Budget              1081356
4     Per Student Budget                  582
5     Average Math Score                   80
6  Average Reading Score                   82
7           Passing Math                    1
8        Passing Reading                    1
9   Overall Passing Rate                    1
***********************************************

                  school               Value
0            School Name  Bailey High School
1            School Type            District
2         Total Students                4976
3    Total School Budget             3124928
4     Per Student Budget                 628
5     Average Math Score                  69
6  Average Reading Score                  96
7           Passing Math            0.895297
8        Passing Reading                   1
9   Overall Passing Rate            0.947649
***********************************************

                  school               Value
0            School Name  Holden High School
1            School Type             Charter
2         Total Students                 427
3    Total School Budget              248087
4     Per Student Budget                 581
5     Average Math Score                  87
6  Average Reading Score                  95
7           Passing Math                   1
8        Passing Reading                   1
9   Overall Passing Rate                   1
***********************************************

                  school             Value
0            School Name  Pena High School
1            School Type           Charter
2         Total Students               962
3    Total School Budget            585858
4     Per Student Budget               609
5     Average Math Score                84
6  Average Reading Score                96
7           Passing Math                 1
8        Passing Reading                 1
9   Overall Passing Rate                 1
***********************************************

                  school               Value
0            School Name  Wright High School
1            School Type             Charter
2         Total Students                1800
3    Total School Budget             1049400
4     Per Student Budget                 583
5     Average Math Score                  70
6  Average Reading Score                  90
7           Passing Math                   1
8        Passing Reading                   1
9   Overall Passing Rate                   1
***********************************************

                  school                  Value
0            School Name  Rodriguez High School
1            School Type               District
2         Total Students                   3999
3    Total School Budget                2547363
4     Per Student Budget                    637
5     Average Math Score                     77
6  Average Reading Score                     78
7           Passing Math               0.885471
8        Passing Reading                      1
9   Overall Passing Rate               0.942736
***********************************************

                  school                Value
0            School Name  Johnson High School
1            School Type             District
2         Total Students                 4761
3    Total School Budget              3094650
4     Per Student Budget                  650
5     Average Math Score                   79
6  Average Reading Score                   64
7           Passing Math             0.891829
8        Passing Reading                    1
9   Overall Passing Rate             0.945915
***********************************************

                  school             Value
0            School Name  Ford High School
1            School Type          District
2         Total Students              2739
3    Total School Budget           1763916
4     Per Student Budget               644
5     Average Math Score                79
6  Average Reading Score                71
7           Passing Math          0.893027
8        Passing Reading                 1
9   Overall Passing Rate          0.946513
***********************************************

In [13]:
District = pd.DataFrame({"District":
    ["Total Schools",
    "Total Students",
    "Total Budget",
    "Average Math Score",
    "Average Reading Score",
    "Passing Math",
    "Passing Reading",
    "Overall Passing Rate"],"Value": [df["school_name"].count(),df["size"].sum(),df["budget"].sum(),
                                      Avg_math, Avg_reading,(df3["math_score"]>=60).count(),
                                    (df3["reading_score"]>= 60).count(), ((df2["reading_score"]>= 60).count() + (df2["math_score"]>=60).count())/2]})
District

                District        Value
0          Total Schools        15.00
1         Total Students     39170.00
2           Total Budget  24649428.00
3     Average Math Score        78.99
4  Average Reading Score        81.88
5           Passing Math     39170.00
6        Passing Reading     39170.00
7   Overall Passing Rate     39170.00

In [ ]:
print((df2["math_score"]>=60).count())
District["Value"] = pd.to_numeric(District["Value"])
District

In [ ]:
if(df2["school_name"] == [x for x in df2["school_name"].unique()]):
    print (x)

In [ ]:
df2["school_name"].value_counts()

In [ ]:
Huang_High_School["math_score"].mean()

In [ ]:
print('Huang High School'.replace(" ","_"))

In [ ]:
High_schools[1]

In [ ]:
len(High_schools)

In [ ]:
mathscore>=60]

In [ ]:
df3.iloc[:200]

In [ ]:
(Huang_High_School[Huang_High_School['math_score']>60]).count()/df["size"][0]

In [ ]:
(Huang_High_School["math_score"]>60).count()

In [ ]:
scoresabove60['math_score'][1]['math_score'].count()/df["size"][0]

In [ ]:
passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School = (Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Figueroa_High_School =(Figueroa_High_School[Figueroa_High_School['math_score']>=60]).count()
    passing_reading_Figueroa_High_School = (Figueroa_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Shelton_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Shelton_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Griffin_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Griffin_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Wilson_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Wilson_High_School = (Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Cabrera_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Cabrera_High_School = (Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Bailey_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Bailey_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Holden_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Holden_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Pena_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Pena_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    School = pd.DataFrame({" ":

In [ ]:
scoresabove60['math_score'][7]['math_score'].count()/df["size"][7]

In [ ]:
scoresabove60['reading_score'][7]['reading_score'].count()/ df["size"][7]

In [ ]:
(85 + 65) /2

In [ ]:
(scoresabove60['math_score'][0]['math_score'].count()/ df["size"][0] + scoresabove60['reading_score'][0]['reading_score'].count()/ df["size"][0])/2

In [ ]:
df3.math_score.sum()/39169