In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv")
df2 = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv")
df3 = pd.merge(df, df2)
df3

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [3]:
Huang_High_School = df3[df3["School ID"] == 0]
Figueroa_High_School = df3[df3["School ID"] == 1]
Shelton_High_School = df3[df3["School ID"] == 2]
Hernandez_High_School = df3[df3["School ID"] == 3]
Griffin_High_School = df3[df3["School ID"] == 4]
Wilson_High_School = df3[df3["School ID"] == 5]
Cabrera_High_School = df3[df3["School ID"] == 6]
Bailey_High_School = df3[df3["School ID"] == 7]
Holden_High_School = df3[df3["School ID"] == 8]
Pena_High_School = df3[df3["School ID"] == 9]
Wright_High_School = df3[df3["School ID"] == 10]
Rodriguez_High_School = df3[df3["School ID"] == 11]
Johnson_High_School = df3[df3["School ID"] == 12]
Ford_High_School = df3[df3["School ID"] == 13]
Thomas_High_School = df3[df3["School ID"] == 14]

High_schools = [x for x in df["school_name"]]
for x in range(len(High_schools)):
    High_schools[x] = High_schools[x].replace(" ", "_")
High_schools

['Huang_High_School',
 'Figueroa_High_School',
 'Shelton_High_School',
 'Hernandez_High_School',
 'Griffin_High_School',
 'Wilson_High_School',
 'Cabrera_High_School',
 'Bailey_High_School',
 'Holden_High_School',
 'Pena_High_School',
 'Wright_High_School',
 'Rodriguez_High_School',
 'Johnson_High_School',
 'Ford_High_School',
 'Thomas_High_School']

In [4]:
reading = df2.groupby(by='school_name')

reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76
37536,37536,Cody Miller,M,11th,Thomas High School,84,82
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
School ID      15 non-null int64
school_name    15 non-null object
type           15 non-null object
size           15 non-null int64
budget         15 non-null int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes

In [6]:
df["school_name"].count()

15

In [7]:
Avg_reading = round(df3.reading_score.sum()/39169,2)

In [8]:
Avg_math = round(df3.math_score.sum()/39169,2)

NameError: name 'school1' is not defined

In [57]:
for x in range(len(High_schools) -1):
    scoresabove60 = pd.DataFrame({  'Schools': 
                ['Huang_High_School',
                'Figueroa_High_School',
                'Shelton_High_School',
                'Hernandez_High_School',
                'Griffin_High_School',
                'Wilson_High_School',
                'Cabrera_High_School',
                'Bailey_High_School',
                'Holden_High_School',
                'Pena_High_School',
                'Wright_High_School',
                'Rodriguez_High_School',
                'Johnson_High_School',
                'Ford_High_School'],
                'math_score':
                [Huang_High_School.loc[Huang_High_School["math_score"]>=60],
                Figueroa_High_School.loc[Figueroa_High_School["math_score"]>=60],
                Shelton_High_School.loc[Shelton_High_School["math_score"]>=60],
                Hernandez_High_School.loc[Hernandez_High_School["math_score"]>=60],
                Griffin_High_School.loc[Griffin_High_School["math_score"]>=60],
                Wilson_High_School.loc[Wilson_High_School["math_score"]>=60],
                Cabrera_High_School.loc[Cabrera_High_School["math_score"]>=60],
                Bailey_High_School.loc[Bailey_High_School["math_score"]>=60],
                Holden_High_School.loc[Holden_High_School["math_score"]>=60],
                Pena_High_School.loc[Pena_High_School["math_score"]>=60],
                Wright_High_School.loc[Wright_High_School["math_score"]>=60],
                Rodriguez_High_School.loc[Rodriguez_High_School["math_score"]>=60],
                Johnson_High_School.loc[Johnson_High_School["math_score"]>=60],
                Ford_High_School.loc[Ford_High_School["math_score"]>=60]],
               'reading_score':
               [Huang_High_School.loc[Huang_High_School["reading_score"]>=60],
               Figueroa_High_School.loc[Figueroa_High_School["reading_score"]>=60],
               Shelton_High_School.loc[Shelton_High_School["reading_score"]>=60],
               Hernandez_High_School.loc[Hernandez_High_School["reading_score"]>=60],
               Griffin_High_School.loc[Griffin_High_School["reading_score"]>=60],
               Wilson_High_School.loc[Wilson_High_School["reading_score"]>=60],
               Cabrera_High_School.loc[Cabrera_High_School["reading_score"]>=60],
               Bailey_High_School.loc[Bailey_High_School["reading_score"]>=60],
               Holden_High_School.loc[Holden_High_School["reading_score"]>=60],
               Pena_High_School.loc[Pena_High_School["reading_score"]>=60],
               Wright_High_School.loc[Wright_High_School["reading_score"]>=60],
               Rodriguez_High_School.loc[Rodriguez_High_School["reading_score"]>=60],
               Johnson_High_School.loc[Johnson_High_School["reading_score"]>=60],
               Ford_High_School.loc[Ford_High_School["reading_score"]>=60]]})
    
    School = pd.DataFrame({ "school":
        ["School Name",
        "School Type",
        "Total Students",
        "Total School Budget",
        "Per Student Budget",
        "Average Math Score",
        "Average Reading Score",
        "Passing Math",
        "Passing Reading",
        "Overall Passing Rate"],"Value": [df["school_name"][x],df["type"][x],df["size"][x],df["budget"][x],
                                         df["budget"][x] / df["size"][x],df3.math_score[x].mean(),df3.reading_score[x].mean(),
                                          scoresabove60['math_score'][x]['math_score'].count()/df["size"][x],
                                          scoresabove60['reading_score'][x]['reading_score'].count()/ df["size"][x],
                                         (scoresabove60['math_score'][x]['math_score'].count()/ df["size"][x] + scoresabove60['reading_score'][x]['reading_score'].count()/ df["size"][x])/2]}),
                 
    print(School)
    print('***********************************************')
    print()

(                  school              Value
0            School Name  Huang High School
1            School Type           District
2         Total Students               2917
3    Total School Budget            1910635
4     Per Student Budget                655
5     Average Math Score                 79
6  Average Reading Score                 66
7           Passing Math           0.888584
8        Passing Reading                  1
9   Overall Passing Rate           0.944292,)
***********************************************

(                  school                 Value
0            School Name  Figueroa High School
1            School Type              District
2         Total Students                  2949
3    Total School Budget               1884411
4     Per Student Budget                   639
5     Average Math Score                    61
6  Average Reading Score                    94
7           Passing Math              0.884368
8        Passing Reading                     1
9   Overall Passing Rate              0.942184,)
***********************************************

(                  school                Value
0            School Name  Shelton High School
1            School Type              Charter
2         Total Students                 1761
3    Total School Budget              1056600
4     Per Student Budget                  600
5     Average Math Score                   60
6  Average Reading Score                   90
7           Passing Math                    1
8        Passing Reading                    1
9   Overall Passing Rate                    1,)
***********************************************

(                  school                  Value
0            School Name  Hernandez High School
1            School Type               District
2         Total Students                   4635
3    Total School Budget                3022020
4     Per Student Budget                    652
5     Average Math Score                     58
6  Average Reading Score                     67
7           Passing Math               0.890831
8        Passing Reading                      1
9   Overall Passing Rate               0.945415,)
***********************************************

(                  school                Value
0            School Name  Griffin High School
1            School Type              Charter
2         Total Students                 1468
3    Total School Budget               917500
4     Per Student Budget                  625
5     Average Math Score                   84
6  Average Reading Score                   97
7           Passing Math                    1
8        Passing Reading                    1
9   Overall Passing Rate                    1,)
***********************************************

(                  school               Value
0            School Name  Wilson High School
1            School Type             Charter
2         Total Students                2283
3    Total School Budget             1319574
4     Per Student Budget                 578
5     Average Math Score                  94
6  Average Reading Score                  94
7           Passing Math                   1
8        Passing Reading                   1
9   Overall Passing Rate                   1,)
***********************************************

(                  school                Value
0            School Name  Cabrera High School
1            School Type              Charter
2         Total Students                 1858
3    Total School Budget              1081356
4     Per Student Budget                  582
5     Average Math Score                   80
6  Average Reading Score                   82
7           Passing Math                    1
8        Passing Reading                    1
9   Overall Passing Rate                    1,)
***********************************************

(                  school               Value
0            School Name  Bailey High School
1            School Type            District
2         Total Students                4976
3    Total School Budget             3124928
4     Per Student Budget                 628
5     Average Math Score                  69
6  Average Reading Score                  96
7           Passing Math            0.895297
8        Passing Reading                   1
9   Overall Passing Rate            0.947649,)
***********************************************

(                  school               Value
0            School Name  Holden High School
1            School Type             Charter
2         Total Students                 427
3    Total School Budget              248087
4     Per Student Budget                 581
5     Average Math Score                  87
6  Average Reading Score                  95
7           Passing Math                   1
8        Passing Reading                   1
9   Overall Passing Rate                   1,)
***********************************************

(                  school             Value
0            School Name  Pena High School
1            School Type           Charter
2         Total Students               962
3    Total School Budget            585858
4     Per Student Budget               609
5     Average Math Score                84
6  Average Reading Score                96
7           Passing Math                 1
8        Passing Reading                 1
9   Overall Passing Rate                 1,)
***********************************************

(                  school               Value
0            School Name  Wright High School
1            School Type             Charter
2         Total Students                1800
3    Total School Budget             1049400
4     Per Student Budget                 583
5     Average Math Score                  70
6  Average Reading Score                  90
7           Passing Math                   1
8        Passing Reading                   1
9   Overall Passing Rate                   1,)
***********************************************

(                  school                  Value
0            School Name  Rodriguez High School
1            School Type               District
2         Total Students                   3999
3    Total School Budget                2547363
4     Per Student Budget                    637
5     Average Math Score                     77
6  Average Reading Score                     78
7           Passing Math               0.885471
8        Passing Reading                      1
9   Overall Passing Rate               0.942736,)
***********************************************

(                  school                Value
0            School Name  Johnson High School
1            School Type             District
2         Total Students                 4761
3    Total School Budget              3094650
4     Per Student Budget                  650
5     Average Math Score                   79
6  Average Reading Score                   64
7           Passing Math             0.891829
8        Passing Reading                    1
9   Overall Passing Rate             0.945915,)
***********************************************

(                  school             Value
0            School Name  Ford High School
1            School Type          District
2         Total Students              2739
3    Total School Budget           1763916
4     Per Student Budget               644
5     Average Math Score                79
6  Average Reading Score                71
7           Passing Math          0.893027
8        Passing Reading                 1
9   Overall Passing Rate          0.946513,)
***********************************************

In [39]:
District = pd.DataFrame({"District":
    ["Total Schools",
    "Total Students",
    "Total Budget",
    "Average Math Score",
    "Average Reading Score",
    "Passing Math",
    "Passing Reading",
    "Overall Passing Rate"],"Value": [df["school_name"].count(),df["size"].sum(),df["budget"].sum(),
                                      Avg_math, Avg_reading,(df3["math_score"]>=60).count(),
                                    (df3["reading_score"]>= 60).count(), ((df2["reading_score"]>= 60).count() + (df2["math_score"]>=60).count())/2]})
District

                District        Value
0          Total Schools        15.00
1         Total Students     39170.00
2           Total Budget  24649428.00
3     Average Math Score        78.99
4  Average Reading Score        81.88
5           Passing Math     39170.00
6        Passing Reading     39170.00
7   Overall Passing Rate     39170.00

In [14]:
Huang_High_School.to_excel(excel_writer = "readingData.xls")

In [17]:
df3.reading_score[2].mean()

90.0

In [18]:
scoresabove60["math_score"][1].loc[]

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [23]:
scoresabove60["math_score"][1]

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
2917,1,Figueroa High School,District,2949,1884411,2917,Amy Jacobs,F,10th,85,87
2918,1,Figueroa High School,District,2949,1884411,2918,Nathan Campbell,M,12th,97,84
2919,1,Figueroa High School,District,2949,1884411,2919,Randall Stewart,M,12th,67,77
2920,1,Figueroa High School,District,2949,1884411,2920,Jennifer Brown,F,9th,97,64
2921,1,Figueroa High School,District,2949,1884411,2921,Denise Lopez,F,10th,79,64
...,...,...,...,...,...,...,...,...,...,...,...
5861,1,Figueroa High School,District,2949,1884411,5861,April Sullivan,F,9th,81,92
5862,1,Figueroa High School,District,2949,1884411,5862,Jessica Mccann,F,11th,99,66
5863,1,Figueroa High School,District,2949,1884411,5863,Charles Walker,M,11th,98,64
5864,1,Figueroa High School,District,2949,1884411,5864,Tammy Burns,F,9th,91,83
5865,1,Figueroa High School,District,2949,1884411,5865,Ricky Harrison,M,10th,99,65

SyntaxError: invalid syntax (<ipython-input-58-ab2e0fad3889>, line 3)

In [71]:
Math_scores = pd.DataFrame({"9th Grade": [Huang_High_School["math_score"].loc[Huang_High_School["grade"]=="9th"].mean(),
                Figueroa_High_School["math_score"].loc[Figueroa_High_School["grade"]=="9th"].mean(),
                Shelton_High_School["math_score"].loc[Shelton_High_School["grade"]=="9th"].mean(),
                Hernandez_High_School["math_score"].loc[Hernandez_High_School["grade"]=="9th"].mean(),
                Griffin_High_School["math_score"].loc[Griffin_High_School["grade"]=="9th"].mean(),
                Wilson_High_School["math_score"].loc[Wilson_High_School["grade"]=="9th"].mean(),
                Cabrera_High_School["math_score"].loc[Cabrera_High_School["grade"]=="9th"].mean(),
                Bailey_High_School["math_score"].loc[Bailey_High_School["grade"]=="9th"].mean(),
                Holden_High_School["math_score"].loc[Holden_High_School["grade"]=="9th"].mean(),
                Pena_High_School["math_score"].loc[Pena_High_School["grade"]=="9th"].mean(),
                Wright_High_School["math_score"].loc[Wright_High_School["grade"]=="9th"].mean(),
                Rodriguez_High_School["math_score"].loc[Rodriguez_High_School["grade"]=="9th"].mean(),
                Johnson_High_School["math_score"].loc[Johnson_High_School["grade"]=="9th"].mean(),
                Ford_High_School["math_score"].loc[Ford_High_School["grade"]=="9th"].mean()],
               "10th Grade": [Huang_High_School["math_score"].loc[Huang_High_School["grade"]=="10th"].mean(),
                Figueroa_High_School["math_score"].loc[Figueroa_High_School["grade"]=="10th"].mean(),
                Shelton_High_School["math_score"].loc[Shelton_High_School["grade"]=="10th"].mean(),
                Hernandez_High_School["math_score"].loc[Hernandez_High_School["grade"]=="10th"].mean(),
                Griffin_High_School["math_score"].loc[Griffin_High_School["grade"]=="10th"].mean(),
                Wilson_High_School["math_score"].loc[Wilson_High_School["grade"]=="10th"].mean(),
                Cabrera_High_School["math_score"].loc[Cabrera_High_School["grade"]=="10th"].mean(),
                Bailey_High_School["math_score"].loc[Bailey_High_School["grade"]=="10th"].mean(),
                Holden_High_School["math_score"].loc[Holden_High_School["grade"]=="10th"].mean(),
                Pena_High_School["math_score"].loc[Pena_High_School["grade"]=="10th"].mean(),
                Wright_High_School["math_score"].loc[Wright_High_School["grade"]=="10th"].mean(),
                Rodriguez_High_School["math_score"].loc[Rodriguez_High_School["grade"]=="10th"].mean(),
                Johnson_High_School["math_score"].loc[Johnson_High_School["grade"]=="10th"].mean(),
                Ford_High_School["math_score"].loc[Ford_High_School["grade"]=="10th"].mean()],
               "11th Grade":[Huang_High_School["math_score"].loc[Huang_High_School["grade"]=="11th"].mean(),
                Figueroa_High_School["math_score"].loc[Figueroa_High_School["grade"]=="11th"].mean(),
                Shelton_High_School["math_score"].loc[Shelton_High_School["grade"]=="11th"].mean(),
                Hernandez_High_School["math_score"].loc[Hernandez_High_School["grade"]=="11th"].mean(),
                Griffin_High_School["math_score"].loc[Griffin_High_School["grade"]=="11th"].mean(),
                Wilson_High_School["math_score"].loc[Wilson_High_School["grade"]=="11th"].mean(),
                Cabrera_High_School["math_score"].loc[Cabrera_High_School["grade"]=="11th"].mean(),
                Bailey_High_School["math_score"].loc[Bailey_High_School["grade"]=="11th"].mean(),
                Holden_High_School["math_score"].loc[Holden_High_School["grade"]=="11th"].mean(),
                Pena_High_School["math_score"].loc[Pena_High_School["grade"]=="11th"].mean(),
                Wright_High_School["math_score"].loc[Wright_High_School["grade"]=="11th"].mean(),
                Rodriguez_High_School["math_score"].loc[Rodriguez_High_School["grade"]=="11th"].mean(),
                Johnson_High_School["math_score"].loc[Johnson_High_School["grade"]=="11th"].mean(),
                Ford_High_School["math_score"].loc[Ford_High_School["grade"]=="11th"].mean()],
               "12th Grade":[Huang_High_School["math_score"].loc[Huang_High_School["grade"]=="12th"].mean(),
                Figueroa_High_School["math_score"].loc[Figueroa_High_School["grade"]=="12th"].mean(),
                Shelton_High_School["math_score"].loc[Shelton_High_School["grade"]=="12th"].mean(),
                Hernandez_High_School["math_score"].loc[Hernandez_High_School["grade"]=="12th"].mean(),
                Griffin_High_School["math_score"].loc[Griffin_High_School["grade"]=="12th"].mean(),
                Wilson_High_School["math_score"].loc[Wilson_High_School["grade"]=="12th"].mean(),
                Cabrera_High_School["math_score"].loc[Cabrera_High_School["grade"]=="12th"].mean(),
                Bailey_High_School["math_score"].loc[Bailey_High_School["grade"]=="12th"].mean(),
                Holden_High_School["math_score"].loc[Holden_High_School["grade"]=="12th"].mean(),
                Pena_High_School["math_score"].loc[Pena_High_School["grade"]=="12th"].mean(),
                Wright_High_School["math_score"].loc[Wright_High_School["grade"]=="12th"].mean(),
                Rodriguez_High_School["math_score"].loc[Rodriguez_High_School["grade"]=="12th"].mean(),
                Johnson_High_School["math_score"].loc[Johnson_High_School["grade"]=="12th"].mean(),
                Ford_High_School["math_score"].loc[Ford_High_School["grade"]=="12th"].mean()]
    
})
Math_scores

    9th Grade  10th Grade  11th Grade  12th Grade
0   77.027251   75.908735   76.446602   77.225641
1   76.403037   76.539974   76.884344   77.151369
2   83.420755   82.917411   83.383495   83.778976
3   77.438495   77.337408   77.136029   77.186567
4   82.044010   84.229064   83.842105   83.356164
5   83.085578   83.724422   83.195326   83.035794
6   83.094697   83.154506   82.765560   83.277487
7   77.083676   76.996772   77.515588   76.492218
8   83.787402   83.429825   85.000000   82.855422
9   83.625455   83.372000   84.328125   84.121547
10  83.264706   84.010288   83.836782   83.644986
11  76.859966   76.612500   76.395626   77.690748
12  77.187857   76.691117   77.491653   76.863248
13  77.361345   77.672316   76.918058   76.179963

In [74]:
Reading_scores = pd.DataFrame({"9th Grade": [Huang_High_School["reading_score"].loc[Huang_High_School["grade"]=="9th"].mean(),
                Figueroa_High_School["reading_score"].loc[Figueroa_High_School["grade"]=="9th"].mean(),
                Shelton_High_School["reading_score"].loc[Shelton_High_School["grade"]=="9th"].mean(),
                Hernandez_High_School["reading_score"].loc[Hernandez_High_School["grade"]=="9th"].mean(),
                Griffin_High_School["reading_score"].loc[Griffin_High_School["grade"]=="9th"].mean(),
                Wilson_High_School["reading_score"].loc[Wilson_High_School["grade"]=="9th"].mean(),
                Cabrera_High_School["reading_score"].loc[Cabrera_High_School["grade"]=="9th"].mean(),
                Bailey_High_School["reading_score"].loc[Bailey_High_School["grade"]=="9th"].mean(),
                Holden_High_School["reading_score"].loc[Holden_High_School["grade"]=="9th"].mean(),
                Pena_High_School["reading_score"].loc[Pena_High_School["grade"]=="9th"].mean(),
                Wright_High_School["reading_score"].loc[Wright_High_School["grade"]=="9th"].mean(),
                Rodriguez_High_School["reading_score"].loc[Rodriguez_High_School["grade"]=="9th"].mean(),
                Johnson_High_School["reading_score"].loc[Johnson_High_School["grade"]=="9th"].mean(),
                Ford_High_School["reading_score"].loc[Ford_High_School["grade"]=="9th"].mean()],
               "10th Grade": [Huang_High_School["reading_score"].loc[Huang_High_School["grade"]=="10th"].mean(),
                Figueroa_High_School["reading_score"].loc[Figueroa_High_School["grade"]=="10th"].mean(),
                Shelton_High_School["reading_score"].loc[Shelton_High_School["grade"]=="10th"].mean(),
                Hernandez_High_School["reading_score"].loc[Hernandez_High_School["grade"]=="10th"].mean(),
                Griffin_High_School["reading_score"].loc[Griffin_High_School["grade"]=="10th"].mean(),
                Wilson_High_School["reading_score"].loc[Wilson_High_School["grade"]=="10th"].mean(),
                Cabrera_High_School["reading_score"].loc[Cabrera_High_School["grade"]=="10th"].mean(),
                Bailey_High_School["reading_score"].loc[Bailey_High_School["grade"]=="10th"].mean(),
                Holden_High_School["reading_score"].loc[Holden_High_School["grade"]=="10th"].mean(),
                Pena_High_School["reading_score"].loc[Pena_High_School["grade"]=="10th"].mean(),
                Wright_High_School["reading_score"].loc[Wright_High_School["grade"]=="10th"].mean(),
                Rodriguez_High_School["reading_score"].loc[Rodriguez_High_School["grade"]=="10th"].mean(),
                Johnson_High_School["reading_score"].loc[Johnson_High_School["grade"]=="10th"].mean(),
                Ford_High_School["reading_score"].loc[Ford_High_School["grade"]=="10th"].mean()],
               "11th Grade":[Huang_High_School["reading_score"].loc[Huang_High_School["grade"]=="11th"].mean(),
                Figueroa_High_School["reading_score"].loc[Figueroa_High_School["grade"]=="11th"].mean(),
                Shelton_High_School["reading_score"].loc[Shelton_High_School["grade"]=="11th"].mean(),
                Hernandez_High_School["reading_score"].loc[Hernandez_High_School["grade"]=="11th"].mean(),
                Griffin_High_School["reading_score"].loc[Griffin_High_School["grade"]=="11th"].mean(),
                Wilson_High_School["reading_score"].loc[Wilson_High_School["grade"]=="11th"].mean(),
                Cabrera_High_School["reading_score"].loc[Cabrera_High_School["grade"]=="11th"].mean(),
                Bailey_High_School["reading_score"].loc[Bailey_High_School["grade"]=="11th"].mean(),
                Holden_High_School["reading_score"].loc[Holden_High_School["grade"]=="11th"].mean(),
                Pena_High_School["reading_score"].loc[Pena_High_School["grade"]=="11th"].mean(),
                Wright_High_School["reading_score"].loc[Wright_High_School["grade"]=="11th"].mean(),
                Rodriguez_High_School["reading_score"].loc[Rodriguez_High_School["grade"]=="11th"].mean(),
                Johnson_High_School["reading_score"].loc[Johnson_High_School["grade"]=="11th"].mean(),
                Ford_High_School["reading_score"].loc[Ford_High_School["grade"]=="11th"].mean()],
               "12th Grade":[Huang_High_School["reading_score"].loc[Huang_High_School["grade"]=="12th"].mean(),
                Figueroa_High_School["reading_score"].loc[Figueroa_High_School["grade"]=="12th"].mean(),
                Shelton_High_School["reading_score"].loc[Shelton_High_School["grade"]=="12th"].mean(),
                Hernandez_High_School["reading_score"].loc[Hernandez_High_School["grade"]=="12th"].mean(),
                Griffin_High_School["reading_score"].loc[Griffin_High_School["grade"]=="12th"].mean(),
                Wilson_High_School["reading_score"].loc[Wilson_High_School["grade"]=="12th"].mean(),
                Cabrera_High_School["reading_score"].loc[Cabrera_High_School["grade"]=="12th"].mean(),
                Bailey_High_School["reading_score"].loc[Bailey_High_School["grade"]=="12th"].mean(),
                Holden_High_School["reading_score"].loc[Holden_High_School["grade"]=="12th"].mean(),
                Pena_High_School["reading_score"].loc[Pena_High_School["grade"]=="12th"].mean(),
                Wright_High_School["reading_score"].loc[Wright_High_School["grade"]=="12th"].mean(),
                Rodriguez_High_School["reading_score"].loc[Rodriguez_High_School["grade"]=="12th"].mean(),
                Johnson_High_School["reading_score"].loc[Johnson_High_School["grade"]=="12th"].mean(),
                Ford_High_School["reading_score"].loc[Ford_High_School["grade"]=="12th"].mean()]
    
})
Reading_scores

    9th Grade  10th Grade  11th Grade  12th Grade
0   81.290284   81.512386   81.417476   80.305983
1   81.198598   81.408912   80.640339   81.384863
2   84.122642   83.441964   84.373786   82.781671
3   80.866860   80.660147   81.396140   80.857143
4   83.369193   83.706897   84.288089   84.013699
5   83.939778   84.021452   83.764608   84.317673
6   83.676136   84.253219   83.788382   84.287958
7   81.303155   80.907183   80.945643   80.912451
8   83.677165   83.324561   83.815534   84.698795
9   83.807273   83.612000   84.335938   84.591160
10  83.833333   83.812757   84.156322   84.073171
11  80.993127   80.629808   80.864811   80.376426
12  81.260714   80.773431   80.616027   81.227564
13  80.632653   81.262712   80.403642   80.662338

In [92]:
Reading_scores['School ID'] = Reading_scores.index
Math_scores['School ID'] = Math_scores.index
df3["budget"].max()

3124928

In [76]:
df3["budget"].min()

248087

In [78]:
bins = [0,750000,1500000,2250000,3250000]

In [79]:
bin_values = ["0 to 750,000","750,000 to 1,500,000","1,500,000 to 2,250,000","2,250,000 to 3,250,000"]

In [80]:
df_cut=pd.cut(df["budget"], bins, labels=bin_values)
df_cut

0     1,500,000 to 2,250,000
1     1,500,000 to 2,250,000
2       750,000 to 1,500,000
3     2,250,000 to 3,250,000
4       750,000 to 1,500,000
5       750,000 to 1,500,000
6       750,000 to 1,500,000
7     2,250,000 to 3,250,000
8               0 to 750,000
9               0 to 750,000
10      750,000 to 1,500,000
11    2,250,000 to 3,250,000
12    2,250,000 to 3,250,000
13    1,500,000 to 2,250,000
14      750,000 to 1,500,000
Name: budget, dtype: category
Categories (4, object): [0 to 750,000 < 750,000 to 1,500,000 < 1,500,000 to 2,250,000 < 2,250,000 to 3,250,000]

In [81]:
df["spending range"] = df_cut
df

,School ID,school_name,type,size,budget,spending range
0,0,Huang High School,District,2917,1910635,"1,500,000 to 2,250,000"
1,1,Figueroa High School,District,2949,1884411,"1,500,000 to 2,250,000"
2,2,Shelton High School,Charter,1761,1056600,"750,000 to 1,500,000"
3,3,Hernandez High School,District,4635,3022020,"2,250,000 to 3,250,000"
4,4,Griffin High School,Charter,1468,917500,"750,000 to 1,500,000"
5,5,Wilson High School,Charter,2283,1319574,"750,000 to 1,500,000"
6,6,Cabrera High School,Charter,1858,1081356,"750,000 to 1,500,000"
7,7,Bailey High School,District,4976,3124928,"2,250,000 to 3,250,000"
8,8,Holden High School,Charter,427,248087,"0 to 750,000"
9,9,Pena High School,Charter,962,585858,"0 to 750,000"
10,10,Wright High School,Charter,1800,1049400,"750,000 to 1,500,000"
11,11,Rodriguez High School,District,3999,2547363,"2,250,000 to 3,250,000"
12,12,Johnson High School,District,4761,3094650,"2,250,000 to 3,250,000"
13,13,Ford High School,District,2739,1763916,"1,500,000 to 2,250,000"
14,14,Thomas High School,Charter,1635,1043130,"750,000 to 1,500,000"

In [112]:
df = pd.merge(df, Reading_scores, on="School ID")

In [115]:
df = df.rename(columns={"9th Grade":"9th Grade Reading","10th Grade":"10th Grade Reading","11th Grade":"11th Grade Reading","12th Grade":"12th Grade Reading"})

In [99]:
df

,School ID,school_name,type,size,budget,spending range,9th Grade Reading,10th Grade Reading,11th Grade Reading,12th Grade Reading,9th Grade_y,10th Grade_y,11th Grade_y,12th Grade_y,9th Grade Reading,10th Grade Reading,11th Grade Reading,12th Grade Reading
0,0,Huang High School,District,2917,1910635,"1,500,000 to 2,250,000",81.290284,81.512386,81.417476,80.305983,77.027251,75.908735,76.446602,77.225641,81.290284,81.512386,81.417476,80.305983
1,1,Figueroa High School,District,2949,1884411,"1,500,000 to 2,250,000",81.198598,81.408912,80.640339,81.384863,76.403037,76.539974,76.884344,77.151369,81.198598,81.408912,80.640339,81.384863
2,2,Shelton High School,Charter,1761,1056600,"750,000 to 1,500,000",84.122642,83.441964,84.373786,82.781671,83.420755,82.917411,83.383495,83.778976,84.122642,83.441964,84.373786,82.781671
3,3,Hernandez High School,District,4635,3022020,"2,250,000 to 3,250,000",80.866860,80.660147,81.396140,80.857143,77.438495,77.337408,77.136029,77.186567,80.866860,80.660147,81.396140,80.857143
4,4,Griffin High School,Charter,1468,917500,"750,000 to 1,500,000",83.369193,83.706897,84.288089,84.013699,82.044010,84.229064,83.842105,83.356164,83.369193,83.706897,84.288089,84.013699
5,5,Wilson High School,Charter,2283,1319574,"750,000 to 1,500,000",83.939778,84.021452,83.764608,84.317673,83.085578,83.724422,83.195326,83.035794,83.939778,84.021452,83.764608,84.317673
6,6,Cabrera High School,Charter,1858,1081356,"750,000 to 1,500,000",83.676136,84.253219,83.788382,84.287958,83.094697,83.154506,82.765560,83.277487,83.676136,84.253219,83.788382,84.287958
7,7,Bailey High School,District,4976,3124928,"2,250,000 to 3,250,000",81.303155,80.907183,80.945643,80.912451,77.083676,76.996772,77.515588,76.492218,81.303155,80.907183,80.945643,80.912451
8,8,Holden High School,Charter,427,248087,"0 to 750,000",83.677165,83.324561,83.815534,84.698795,83.787402,83.429825,85.000000,82.855422,83.677165,83.324561,83.815534,84.698795
9,9,Pena High School,Charter,962,585858,"0 to 750,000",83.807273,83.612000,84.335938,84.591160,83.625455,83.372000,84.328125,84.121547,83.807273,83.612000,84.335938,84.591160
10,10,Wright High School,Charter,1800,1049400,"750,000 to 1,500,000",83.833333,83.812757,84.156322,84.073171,83.264706,84.010288,83.836782,83.644986,83.833333,83.812757,84.156322,84.073171
11,11,Rodriguez High School,District,3999,2547363,"2,250,000 to 3,250,000",80.993127,80.629808,80.864811,80.376426,76.859966,76.612500,76.395626,77.690748,80.993127,80.629808,80.864811,80.376426
12,12,Johnson High School,District,4761,3094650,"2,250,000 to 3,250,000",81.260714,80.773431,80.616027,81.227564,77.187857,76.691117,77.491653,76.863248,81.260714,80.773431,80.616027,81.227564
13,13,Ford High School,District,2739,1763916,"1,500,000 to 2,250,000",80.632653,81.262712,80.403642,80.662338,77.361345,77.672316,76.918058,76.179963,80.632653,81.262712,80.403642,80.662338

In [93]:
df = pd.merge(df, Math_scores, on="School ID")

In [100]:
df = df = df.rename(columns={"9th Grade_y":"9th Grade Math","10th Grade_y":"10th Grade Math","11th Grade_y":"11th Grade Math","12th Grade_y":"12th Grade Math"})

In [116]:
df

,School ID,school_name,type,size,budget,spending range,9th Grade Math,10th Grade Math,11th Grade Math,12th Grade Math,9th Grade Reading,10th Grade Reading,11th Grade Reading,12th Grade Reading
0,0,Huang High School,District,2917,1910635,"1,500,000 to 2,250,000",77.027251,75.908735,76.446602,77.225641,81.290284,81.512386,81.417476,80.305983
1,1,Figueroa High School,District,2949,1884411,"1,500,000 to 2,250,000",76.403037,76.539974,76.884344,77.151369,81.198598,81.408912,80.640339,81.384863
2,2,Shelton High School,Charter,1761,1056600,"750,000 to 1,500,000",83.420755,82.917411,83.383495,83.778976,84.122642,83.441964,84.373786,82.781671
3,3,Hernandez High School,District,4635,3022020,"2,250,000 to 3,250,000",77.438495,77.337408,77.136029,77.186567,80.866860,80.660147,81.396140,80.857143
4,4,Griffin High School,Charter,1468,917500,"750,000 to 1,500,000",82.044010,84.229064,83.842105,83.356164,83.369193,83.706897,84.288089,84.013699
5,5,Wilson High School,Charter,2283,1319574,"750,000 to 1,500,000",83.085578,83.724422,83.195326,83.035794,83.939778,84.021452,83.764608,84.317673
6,6,Cabrera High School,Charter,1858,1081356,"750,000 to 1,500,000",83.094697,83.154506,82.765560,83.277487,83.676136,84.253219,83.788382,84.287958
7,7,Bailey High School,District,4976,3124928,"2,250,000 to 3,250,000",77.083676,76.996772,77.515588,76.492218,81.303155,80.907183,80.945643,80.912451
8,8,Holden High School,Charter,427,248087,"0 to 750,000",83.787402,83.429825,85.000000,82.855422,83.677165,83.324561,83.815534,84.698795
9,9,Pena High School,Charter,962,585858,"0 to 750,000",83.625455,83.372000,84.328125,84.121547,83.807273,83.612000,84.335938,84.591160
10,10,Wright High School,Charter,1800,1049400,"750,000 to 1,500,000",83.264706,84.010288,83.836782,83.644986,83.833333,83.812757,84.156322,84.073171
11,11,Rodriguez High School,District,3999,2547363,"2,250,000 to 3,250,000",76.859966,76.612500,76.395626,77.690748,80.993127,80.629808,80.864811,80.376426
12,12,Johnson High School,District,4761,3094650,"2,250,000 to 3,250,000",77.187857,76.691117,77.491653,76.863248,81.260714,80.773431,80.616027,81.227564
13,13,Ford High School,District,2739,1763916,"1,500,000 to 2,250,000",77.361345,77.672316,76.918058,76.179963,80.632653,81.262712,80.403642,80.662338

In [117]:
Passing_rate = df[["school_name"]]

In [122]:
Passing_rate["Over_all_passing"] = (df3['math_score'].count()/ df["size"][x] + df3['reading_score'].count()/ df["size"][x])/2

/Users/morgancordray/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.